name: Auto Update README

on:
  schedule:
    - cron: '0 0 * * *' # 每天北京时间早上 8 点自动运行
  workflow_dispatch: # 也可以手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update README
        run: |
          echo -e "\n" >> README.md
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add README.md
          git commit -m "Update last check date"
          git push
          
